@use "../variables";

.colabora-page {
  background-color: variables.$background;
  min-height: 100vh;
  padding: 8rem 1rem;

  .colabora-container {
    container-type: inline-size;
    container-name: form-container;
  }

  @container form-container (max-width: 500px) {
    &:has(form) {
      padding: 1.5rem;
    }
  }

  .colabora-header {
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      color: variables.$primary;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  :is(.form-label, .accordion-button) {
    color: variables.$primary;
    font-weight: bold;
  }

  .accordion-button:not(.collapsed) {
    background-color: rgba(variables.$secondary, 0.1);
    color: variables.$primary;
    box-shadow: none;
  }

  .accordion-button:focus {
    border-color: variables.$secondary;
    box-shadow: 0 0 0 0.25rem rgba(variables.$secondary, 0.25);
  }
}
