@use "../variables";

.speakers-section {
  padding: 4rem 2rem;
  background-color: variables.$background;
  min-height: 100vh;

  &__title {
    margin-top: 50px;
    font-size: 2.5rem;
    color: variables.$primary;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
  }
}

.speakers-grid {
  //.row
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

.speaker-card {
  //.col
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(33.333% - 1.35rem);
  min-width: 280px;
  background-color: rgba(variables.$secondary, 0.1);
  transition: transform 0.3s ease;

  &__image {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 1.5rem;
  }

  &__tag {
    font-size: 0.7rem;
    font-weight: bold;
    color: variables.$secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__name {
    font-size: 1.5rem;
    color: variables.$primary;
    margin: 0.5rem 0;
  }

  &__bio {
    font-size: 0.9rem;
    line-height: 1.5;
    color: variables.$primary;
    opacity: 0.8;
  }
}

@media (max-width: 992px) {
  .speaker-card {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media (max-width: 600px) {
  .speaker-card {
    flex: 1 1 100%;
  }
}
