<footer class="footer">
  <a href="index.html" class="header__logo-link">
    <img
      src="./assets/images/logo-artusania.png"
      alt="Artusania"
      class="header__logo-img"
    />
  </a>
  <p>&copy; Andrea Esteve - Universitat Oberta de Catalunya</p>
  <nav class="footer__nav">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="speakers.html" class="footer__link">Ponentes</a>
      </li>
      <li class="footer__item">
        <a href="jornadas.html" class="footer__link">Jornadas</a>
      </li>
      <li class="footer__item">
        <a href="contacto.html" class="footer__link">Contacto</a>
      </li>
    </ul>
  </nav>
</footer>
