<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo-link">
      <img
        src="./assets/images/logo-artusania.png"
        alt="Artusania"
        class="header__logo-img"
      />
    </a>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="speakers.html" class="header__logo-link">Ponentes</a>
        </li>
        <li class="header__item">
          <a href="jornadas.html" class="header__link">Jornadas</a>
        </li>
        <li class="header__item">
          <a href="contacto.html" class="header__link">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
